{% extends 'base.html' %}

{% block title %}
    {{frazes.title}}
{% endblock%}

{% block blockweather %}
    {% if temp_C %}
    <h1 class="display-3">{{frazes.ahora}} {{ temp_C }} {{frazes.grados}}</h1>
    <p>{{frazes.siente}} {{ FeelsLikeC }} {{frazes.grados}}</p>
    {% else %}
    <h1 class="display-3">{{frazes.disponible}}</h1>
    {% endif %}
{% endblock%}

{% block blocknews %}
    {% for news in list_news %}
                    {% if loop.index0 % 3 == 0 %}
                        <div class="row">
                    {% endif%} 
                            <div class="col-md-4">
                                {%if lang == "en" %}
                                    <h2>{{news.titleEn}}</h2>                            
                                    <p align="justify">{{news.shorttextEn}}</p>
                                {% elif lang == "ru" %} 
                                    <h2>{{news.titleRu}}</h2>                            
                                    <p align="justify">{{news.shorttextRu}}</p>
                                {% else %}
                                    <h2>{{news.titleEs}}</h2>                            
                                    <p align="justify">{{news.shorttextEs}}</p>
                                {% endif %}
                                <p align="right">{{news.fecha.strftime("%d.%m.%Y")}}</p>
                                <p><a class="btn btn-secondary" href="{{news.url}}" role="button">{{frazes.detalles}}</a></p>
                            </div>
                    {% if loop.index0 % 3  == 2 or loop.last %}
                        </div>
                    {% endif%}
    {% endfor%}
{% endblock%}