{% extends 'base.html' %}

{% block title %}
    {{_("Torrevieja")}}
{% endblock%}

{% block blockweather %}
    {% if temp_C %}
    <h1 class="display-3">{{_("Ahora en Torrevieja")}} {{ temp_C }} {{_("grados")}}</h1>
    <p>{{_("Se siente como")}} {{ FeelsLikeC }} {{_("grados")}}</p>
    {% else %}
    <h1 class="display-3">{{_("El servicio meteorológico no está disponible temporalmente")}}</h1>
    {% endif %}
{% endblock%}

{% block blocknews %}
    {% for news in list_news %}
                    {% if loop.index0 % 3 == 0 %}
                        <div class="row">
                    {% endif%} 
                            <div class="col-md-4">
                                {%if lang == "en" %}
                                    <h4>{{news.titleEn}}</h4>                            
                                    <p align="justify">{{news.shorttextEn}}</p>
                                {% elif lang == "ru" %} 
                                    <h4>{{news.titleRu}}</h4>                            
                                    <p align="justify">{{news.shorttextRu}}</p>
                                {% else %}
                                    <h4>{{news.titleEs}}</h4>                            
                                    <p align="justify">{{news.shorttextEs}}</p>
                                {% endif %}
                                <p align="right">{{news.fecha.strftime("%d.%m.%Y")}}</p>
                                <p><a class="btn btn-secondary" href="{{news.url}}" role="button">{{_("Más detalles »")}}</a></p>
                            </div>
                    {% if loop.index0 % 3  == 2 or loop.last %}
                        </div>
                    {% endif%}
    {% endfor%}
{% endblock%}