<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Прогноз погоды</title>
        <!-- Bootstrap core CSS -->
        <link href="/static/css/bootstrap.css" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="/static/css/jumbotron.css" rel="stylesheet">
    </head>
    <body>
        <div class="jumbotron">
            <div class="container">
                {% if weather %}
                    <h1 class="display-3">Сейчас в Торревьехе {{ weather.temp_C }}</h1>
                    <p>Ощущается как  {{ weather.FeelsLikeC }}</p>
                {% else %}
                    <h1 class="display-3">Сервис погоды временно недоступен</h1>
                {% endif %}
                <p></p>
            </div>
        </div>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="container">
            <!-- Example row of columns -->
            {% set column = 0 %}
            {% for news in list_news %}
                {% if column == 0 %}
                    <div class="row">
                {% endif%} 
                        <div class="col-md-4">
                            <h2>Новость от {{news.fecha}}</h2>
                            <p>{{news.shorttext}}</p>
                            <p><a class="btn btn-secondary" href="{{news.url}}" role="button">View details »</a></p>
                        </div>
                {% if column  == 2 %}
                    </div>
                {% endif%}
                <h2>Колумн до {{column}}</h2>
                {% set column = column+1 %}
                <h2>  после {{column}}</h2>
                {% if column == 3 %}
                    {% set column = 0 %}
                {% endif%} 
            {% endfor%}
            {% if column  > 0 %}
                    </div>
            {% endif%}
            <hr>
        </div>         
        <!-- /container -->
        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <!-- <script src="static/js/jquery.min.js"></script>
        <script src="static/js/popper.js"></script>
        <script src="static/js/bootstrap.min.js"></script> -->
    </body>
</html>